html {
  font-family: "PT Serif", serif;
  line-height: 1.5;
  background-color: #c9b5ab;
  color: #222;
}

header,
nav li {
  font-family: "PT Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}

h1,
h2 {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 1.5rem;
  margin-bottom: .67em;
}

img {
  width: 100%;
}

a {
  color: #8f2440;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #3f1622;
}

nav ol {
  list-style-type: none;
  margin-top: .67em;
}

nav ol li {
  font-size: 1.125rem;
}

#common-varieties + ol {
  list-style-type: lower-greek;
}

li {
  font-style: normal;
  font-family: "PT Serif", serif;
}

figcaption {
  font-style: italic;
  font-size: 1rem;
  font-weight: normal;
  text-align: center;
}

.article > p {
  font-size: 1rem;
  font-weight: normal;
}

.article figure + p {
  font-weight: bold;
  font-size: 1.125rem;
}

blockquote p,
blockquote strong {
  font-size: 1.5rem;
  font-style: italic;
  font-weight: normal;
}

dl dt {
  font-style: italic;
}

dl dd {
  font-weight: bold;
}

dd data {
  font-weight: normal;
}

aside ul {
  list-style-type: circle;
}

aside ul li, cite {
  font-size: .8rem;
}
